<div flex="auto" layout="column" ng-if="configurationTab === 'welcome' && mctrl.editionTab !== 'editconfiguration'"
    ng-class="agent && agent.id !== '000'?'wz-margin-top-8':''">
    <!-- Headline -->
    <div layout="column" layout-padding ng-show="agent && agent.id !== '000'">
        <div>
            <span class="font-size-18"> <i class="fa fa-fw fa-cog" aria-hidden="true"></i> Configuração</span>
            <span ng-if="isSynchronized" class="wz-agent-status-indicator small teal">SINCRONIZADO</span>
            <span ng-if="!isSynchronized" class="wz-agent-status-indicator small red">NÃO SINCRONIZADO</span>
        </div>
    </div>

    <!-- End headline -->
    <div flex layout="row">
        <div flex layout="column">
            <md-card flex class="wz-md-card _md flex">
                <md-card-actions layout="row" class="wz-card-actions wz-card-actions-top layout-align-end-center">
                    <a ng-if="mctrl.adminMode || adminMode" ng-show="!agent || agent.id === '000'"
                        ng-click="mctrl.setConfigTab('editconfiguration', true)">
                        <react-component name="EuiIcon" props="{type:'pencil', color:'primary'}" /> Editar configuração
                    </a>
                    <span flex></span>
                    <react-component ng-if="agent && agent.id !== '000' && agent.status === 'Active'"
                        name="ExportConfiguration" ng-hide="reportBusy && reportStatus"
                        props="{exportConfiguration, type: 'agent', agentPlatform: agent.agentPlatform}" />
                    <react-component ng-show="reportBusy && reportStatus" name="EuiLoadingSpinner" props="{size:'m'}" />
                </md-card-actions>
                <md-card-content>
                    <span class="font-size-16 wz-text-bold">Configurações principais</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <table ng-if="!agent || agent.id === '000'" class="table table-striped table-condensed table-layout-fixed table-hover table-vertical-align-middle">
                        <thead class="wz-text-bold">
                            <th class="wz-text-left col-lg-2">Nome</th>
                            <th class="wz-text-left">Descrição</th>
                        </thead>
                        <tbody>
                            <tr class="cursor-pointer" ng-click="switchConfigTab('global-configuration', [{component:'analysis',configuration:'global'},{component:'mail',configuration:'global'},{component:'request',configuration:'remote'},{component:'com',configuration:'logging'}])">
                                <td>Configuração global</td>
                                <td>Configurações globais e remotas</td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchConfigTab('cluster', [{component:'com',configuration:'cluster'}])">
                                <td>Cluster</td>
                                <td>Configuração do nó principal</td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchConfigTab('registration-service', [{component:'auth',configuration:'auth'}])">
                                <td>Serviço de registro</td>
                                <td>Serviço de registro automático de agente</td>
                            </tr>
                        </tbody>
                    </table>

                    <table ng-if="agent && agent.id !== '000'" class="table table-striped table-condensed table-layout-fixed table-hover table-vertical-align-middle">
                        <thead class="wz-text-bold">
                            <th class="wz-text-left col-lg-2">Nome</th>
                            <th class="wz-text-left">Descrição</th>
                        </thead>
                        <tbody>
                            <tr class="cursor-pointer" ng-click="switchConfigTab('global-configuration', [{component:'com',configuration:'logging'}])">
                                <td>Configuração global</td>
                                <td>Configurações de log que se aplicam ao agente</td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchConfigTab('client', [{component:'agent',configuration:'client'}])">
                                <td>Comunicação</td>
                                <td>Configurações relacionadas à conexão com o console</td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchConfigTab('client-buffer', [{component:'agent',configuration:'buffer'}])">
                                <td>Configurações anti-inundação</td>
                                <td>Parâmetros do bucket do agente para evitar inundações de eventos</td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchConfigTab('alerts',[{component:'agent',configuration:'labels'}])">
                                <td>Identificadores</td>
                                <td>Informações definidas pelo usuário sobre o agente incluídas nos alertas</td>
                            </tr>
                        </tbody>
                    </table>

                    <span ng-if="!agent || agent.id === '000'" class="font-size-16 wz-text-bold">Alertas e gerenciamento
                        de saída</span>
                    <md-divider ng-if="!agent || agent.id === '000'" class="wz-margin-top-10"></md-divider>
                    <table ng-if="!agent || agent.id === '000'" class="table table-striped table-condensed table-layout-fixed table-hover table-vertical-align-middle">
                        <thead class="wz-text-bold">
                            <th class="wz-text-left col-lg-2">Nome</th>
                            <th class="wz-text-left">Descrição</th>
                        </thead>
                        <tbody>
                            <tr class="cursor-pointer" ng-click="switchConfigTab('alerts',[{component:'analysis',configuration:'alerts'},{component:'analysis',configuration:'labels'},{component:'mail',configuration:'alerts'},{component:'monitor',configuration:'reports'}, {component:'csyslog',configuration:'csyslog'}])">
                                <td>Alertas</td>
                                <td>Configurações relacionadas aos alertas e seu formato</td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchConfigTab('integrations',[{component:'integrator',configuration:'integration'}])">
                                <td>Integrações</td>
                                <td>Integrações Slack, VirusTotal e PagerDuty com APIs externas</td>
                            </tr>
                        </tbody>
                    </table>

                    <span class="font-size-16 wz-text-bold">Auditoria e monitoramento de políticas</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <table class="table table-striped table-condensed table-layout-fixed table-hover table-vertical-align-middle">
                        <thead class="wz-text-bold">
                            <th class="wz-text-left col-lg-2">Nome</th>
                            <th class="wz-text-left">Descrição</th>
                        </thead>
                        <tbody>
                            <tr class="cursor-pointer" ng-click="switchConfigTab('policy-monitoring', [{component:'syscheck',configuration:'rootcheck'}, {component:'wmodules',configuration:'wmodules'}])">
                                <td>Monitoramento de políticas</td>
                                <td>Configuração para garantir a conformidade com políticas de segurança, padrões e guias de
                                    proteção</td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchWodle('open-scap')" ng-if="shouldShowComponent('oscap')">
                                <td>OpenSCAP</td>
                                <td>Avaliação de configuração e automação do monitoramento de conformidade usando verificações SCAP
                                </td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchWodle('cis-cat')">
                                <td>CIS-CAT</td>
                                <td>Avaliação da configuração usando o scanner CIS e as verificações SCAP
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <span class="font-size-16 wz-text-bold">Ameaças do sistema e resposta a incidentes</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <table class="table table-striped table-condensed table-layout-fixed table-hover table-vertical-align-middle">
                        <thead class="wz-text-bold">
                            <th class="wz-text-left col-lg-2">Nome</th>
                            <th class="wz-text-left">Descrição</th>
                        </thead>
                        <tbody>
                            <tr class="cursor-pointer" ng-if="!agent || agent.id === '000'" ng-click="switchWodle('vulnerability-detector')">
                                <td>Vulnerabilidades</td>
                                <td>Descubra quais aplicativos são afetados por vulnerabilidades conhecidas</td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchWodle('osquery')">
                                <td>Osquery</td>
                                <td>Expor um sistema operacional como um banco de dados relacional de alto desempenho
                                </td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchWodle('syscollector')">
                                <td>Dados de inventário</td>
                                <td>Reunir informações relevantes sobre sistema operacional, hardware, rede e pacotes do sistema
                                </td>
                            </tr>
                            <tr class="cursor-pointer" ng-if="!agent || agent.id === '000'" ng-click="switchConfigTab('active-response',[{component:'analysis',configuration:'command'},{component:'analysis',configuration:'active_response'}])">
                                <td>Resposta ativa</td>
                                <td>Endereçamento ativo de ameaças por resposta imediata
                                </td>
                            </tr>
                            <tr class="cursor-pointer" ng-if="agent && agent.id !== '000'" ng-click="switchConfigTab('active-response',[{component:'com',configuration:'active-response'}])">
                                <td>Resposta ativa</td>
                                <td>Endereçamento ativo de ameaças por resposta imediata
                                </td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchWodle('command')">
                                <td>Comandos</td>
                                <td>Opções de configuração do wodle de comando
                                </td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchWodle('docker-listener')" ng-if="shouldShowComponent('docker')">
                                <td>Monitoramento do Docker</td>
                                <td>Monitore e colete a atividade dos contêineres do Docker, como criação, execução,
                                    inicialização, parada ou pausa de eventos
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <span class="font-size-16 wz-text-bold">Análise de dados de log</span>
                    <md-divider class="wz-margin-top-10"></md-divider>
                    <table class="table table-striped table-condensed table-layout-fixed table-hover table-vertical-align-middle">
                        <thead class="wz-text-bold">
                            <th class="wz-text-left col-lg-2">Nome</th>
                            <th class="wz-text-left">Descrição</th>
                        </thead>
                        <tbody>
                            <tr class="cursor-pointer" ng-click="switchConfigTab('log-collection',[{component:'logcollector',configuration:'localfile'},{component:'logcollector',configuration:'socket'}])">
                                <td>Coleção de logs</td>
                                <td>Análise de log de arquivos de texto, eventos do Windows ou saídas de syslog</td>
                            </tr>
                            <tr class="cursor-pointer" ng-click="switchConfigTab('integrity-monitoring',[{component:'syscheck',configuration:'syscheck'}])">
                                <td>Monitoramento de integridade</td>
                                <td>Identifique alterações no conteúdo, permissões, propriedade e atributos dos arquivos
                                </td>
                            </tr>
                            <tr class="cursor-pointer" ng-if="!agent || agent.id === '000'" ng-click="switchConfigTab('agentless',[{component:'agentless',configuration:'agentless'}])">
                                <td>Sem agente</td>
                                <td>Execute verificações de integridade em dispositivos como roteadores, firewalls e switches
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <span ng-if="!agent || agent.id === '000'" class="font-size-16 wz-text-bold">Monitoramento
                        de segurança na nuvem</span>
                    <md-divider ng-if="!agent || agent.id === '000'" class="wz-margin-top-10"></md-divider>
                    <table ng-if="!agent || agent.id === '000'" class="table table-striped table-condensed table-layout-fixed table-hover table-vertical-align-middle">
                        <thead class="wz-text-bold">
                            <th class="wz-text-left col-lg-2">Nome</th>
                            <th class="wz-text-left">Descrição</th>
                        </thead>
                        <tbody>
                            <tr class="cursor-pointer" ng-click="switchWodle('aws-s3')">
                                <td>Amazon S3</td>
                                <td>Eventos de segurança relacionados aos serviços Amazon AWS, coletados diretamente por meio da API da AWS</td>
                            </tr>
                        </tbody>
                    </table>
                </md-card-content>
            </md-card>
        </div>

        <md-sidenav class="md-sidenav-right" style="width: auto !important;" md-is-locked-open="true">
            <span class="wz-margin-right-8 wz-text-link wz-text-right wz-margin-top-8" ng-click="showHelp = !showHelp">
                <react-component name="EuiIcon" props="{type:'questionInCircle'}" />
            </span>
            <md-list ng-if="showHelp">
                <md-subheader>Mais informações sobre esta seção</md-subheader>
                <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/manager/index.html">Logs360
                    documentação de administração</md-list-item>
                <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/capabilities/index.html">Logs360
                    documentação de recursos</md-list-item>
                <md-list-item target="_blank" class="wz-text-link" ng-href="https://documentation.wazuh.com/current/user-manual/reference/ossec-conf/index.html">Referência
                    de configuração local</md-list-item>
            </md-list>
        </md-sidenav>
    </div>
</div>