<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Logs360 - Store</title>
</head>



<body>  

  <div style="padding-right: 5rem; padding-left: 5rem; padding-top: 1rem;"> 
<table>
  <tr>
  <td>  
  <div class="cabecalho" style="padding: 1rem; text-align: left;"> 
  <img src="https://i.imgur.com/Xrp4Rve.png" alt="logo">
</td>
<td>
  <h4>Logs360 Store</h4> 
  <p>
  Montamos vários pacotes para atender as necessidades de suas demandas, bem como: </br>
  Pacotes para Windows, Linux, Firewall, Banco de dados entre outros...                     
  </p>
</td>
</table>

<hr size = 7>
<!-- Pack Windows-->
<div class="w-auto p-3" style="display: flex,">
<div class="titulo" style="padding: 2rem; text-align: center;">            
  <h4>Para Windows </h4>
      <p>
          O pacote para Windows oferece algumas soluções que vão facilitar o monitoramento...
      </p>                          
</div>                    
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/pBmMKDB.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Active Directory</h5>
          <p class="card-text">Monitore todas as atividades do Active Directory</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/bmN3DlE.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Comportamento de Usuário</h5>
          <p class="card-text">Monitore todas as atividades de usuario</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/sfPrNj6.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">File Server</h5>
          <p class="card-text">Monitore seu servidor de arquivos com facilidade e praticidade</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<hr size = 7> 

    <!--pack Firewall-->
<div class="w-auto p-3" style="display: flex,">
<div class="titulo" style="padding: 2rem; text-align: center;" >            
<h4>Para Firewall </h4>
  <p>                           
      O pacote para Firewall oferece algumas soluções que facilitam no monitoramento e detecção...
  </p>
</div>                    
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/E9PuWFZ.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Detecção de Ameaças</h5>
            <p class="card-text">Detecte ameaças de forma facil</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
</div>
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/vQX5UFB.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Monitoramento</h5>
            <p class="card-text">Monitore tudo de forma pratica</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
</div>
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/osMyo0k.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Compliance</h5>
            <p class="card-text">Todas as conformidades necessárias.</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
</div>                    
</form>
</div>
<hr size = 7> 

<!--pack Banco de dados-->
<div class="w-auto p-3" style="display: flex,">
<div class="titulo" style="padding: 2rem; text-align: center;">            
<h4>Para Banco de Dados </h4>
    <p>                           
        Com esse pacote o seu banco de dados pode ser monitorado e trazer analises precisas.
    </p>
</div>                    
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/V2I0Tgq.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Monitoramento de segurança</h5>
            <p class="card-text">Monitora os principais bancos de dados como SQL, Oracle entre outros... </p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
  </div>
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/sjyIzDl.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Monitoramento de Acesso</h5>
            <p class="card-text">Monitoramento de acesso ao banco de dados com analises precisas...</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
  </div>
<div class="col">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.imgur.com/TSATaO0.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Compliance</h5>
              <p class="card-text">Esteja por dentro das conformidades além dos pacotes de monitoramento.</p>
              <button type="button" class="btn btn-dark">Adiquirir</button>
            </div>
          </div>
        </div>
      </div> 
    </div>                    
  </div>
</div>
<hr size = 7> 


     <!--pack Web Server-->
<div class="w-auto p-3" style="display: flex,">
<div class="titulo" style="padding: 2rem; text-align: center;">            
  <h4>Para Web Server </h4>
      <p>                           
          O pacote para Web Server oferece algumas soluções que monitoram os acessos e segurança:
      </p>
</div>                    
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/23bgwmr.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Monitoramento de segurança</h5>
            <p class="card-text">Uma solução eficaz para Servidores Web.</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
  </div>
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/osMyo0k.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Compliance</h5>
            <p class="card-text"> Proteja e inimize os riscos estando em conformidade...</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
  </div>
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/GfSczBY.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Analytics</h5>
            <p class="card-text">Aproveite ao máximo seus dados e analize com este recurso.</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
  </div>          
</div>
<hr size = 7> 

<!--pack Antivirus | End Point-->
<div class="w-auto p-3" style="display: flex,">
<div class="titulo" style="padding: 2rem; text-align: center;">            
<h4>Para Antivírus - Endpoint </h4>
    <p>                           
        Proteção e segurança são primordiais e nosso pacote para Antivírus/Endpoint conta com duas principais feramentas:
    </p>
</div>
<div class="container">                     
<div class="row" style="text-align: center;" class="container-fluid">
    <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/JAdRSKI.png" class="card-img" alt="acrtivy" style="padding: 3rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Monitoramento de segurança</h5>
            <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
  </div>
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/osMyo0k.png" class="card-img" alt="acrtivy" style="padding: 3rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Compliance</h5>
            <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>
</div>
</div>
<hr size = 7> 
<!-- E-mail-->
<div class="w-auto p-3" style="display: flex,">
<div class="titulo" style="padding: 2rem; text-align: center;">            
    <h4>Para E-mail </h4>
        <p>                           
            O pacote para E-mail oferece algumas soluções que monitoram os acessos e segurança:
        </p>
</div>                    
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/i3vEU4G.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Monitoramento de segurança</h5>
            <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
</div>
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/osMyo0k.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Compliance</h5>
            <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
  </div>
<div class="col">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.imgur.com/ponLfAD.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Analytics</h5>
              <p class="card-text">Aproveite ao máximo seus dados com esse recurso.</p>
              <button type="button" class="btn btn-dark">Adiquirir</button>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
<hr size = 7> 

<!-- VPN -->
<div class="w-auto p-3" style="display: flex,">
<div class="titulo" style="padding: 2rem; text-align: center;">            
<h4>Para VPN</h4>
<p>                           
    Reunimos neste pacote os principais itens necessários de monitoramento:
</p>
</div>                    
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
<div class="row no-gutters">
  <div class="col-md-4">
    <img src="https://i.imgur.com/qpiwElE.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">Monitoramento de segurança</h5>
      <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
      <button type="button" class="btn btn-dark">Adiquirir</button>
    </div>
  </div>
</div>
</div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.imgur.com/EFjukjW.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Comportamento de Usuário</h5>
        <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
        <button type="button" class="btn btn-dark">Adiquirir</button>
      </div>
    </div>
  </div>
</div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/TSATaO0.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Compliance</h5>
          <p class="card-text">Todas as conformidades necessárias com essa ferramenta!</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div> 
</div>                 
</div>
</div>
<hr size = 7> 

<!-- Azure -->
<div class="w-auto p-3" style="display: flex,">
<div class="titulo" style="padding: 2rem; text-align: center;">            
<h4>Para Azure</h4>
<p>                           
    O pacote para E-mail oferece algumas soluções que monitoram os acessos e segurança.
</p>
</div>
<div class="container">                    
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.imgur.com/NNv6bcZ.png" class="card-img" alt="acrtivy" style="padding: 3rem;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Monitoramento de segurança</h5>
              <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
              <button type="button" class="btn btn-dark">Adiquirir</button>
            </div>
          </div>
        </div>
      </div> 
</div>
   <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/N4kPwm6.png" class="card-img" alt="acrtivy" style="padding: 3rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Storage</h5>
          <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div> 
</div>
</div>
</div>
<hr size = 7> 

<!-- Aws -->
<div class="w-auto p-3" style="display: flex,">
<div class="titulo" style="padding: 2rem; text-align: center;">            
  <h4>Para Amazon AWS</h4>
      <p>                           
          O pacote para Amazon AWS oferece algumas soluções que monitoram os acessos e segurança.
      </p>
</div>                    
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/Ou4okEI.png" class="card-img" alt="acrtivy" style=" padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"> Wodle</h5>
            <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
  </div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.imgur.com/IDMgrsd.png" class="card-img" alt="acrtivy" style=" padding: 1rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Cloudtrail</h5>
        <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
        <button type="button" class="btn btn-dark">Adiquirir</button>
      </div>
    </div>
  </div>
</div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.imgur.com/fC6fuzl.png" class="card-img" alt="acrtivy" style=" padding: 1rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Errors</h5>
        <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
        <button type="button" class="btn btn-dark">Adiquirir</button>
      </div>
    </div>
  </div>
</div> 
</div>
</div> 
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/Yvo7bx7.png" class="card-img" alt="acrtivy" style=" padding: 1rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Monitoramento de Acesso</h5>
          <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.imgur.com/EPZ4YYr.png" class="card-img" alt="acrtivy" style=" padding: 1rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Guard Duty</h5>
        <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
        <button type="button" class="btn btn-dark">Adiquirir</button>
      </div>
    </div>
  </div>
</div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.imgur.com/4EWONb6.png" class="card-img" alt="acrtivy" style=" padding: 1rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Maciel Alerts</h5>
        <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
        <button type="button" class="btn btn-dark">Adiquirir</button>
      </div>
    </div>
  </div>
</div> 
</div>
</div>
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.imgur.com/vt5P4ht.png" class="card-img" alt="acrtivy" style=" padding: 1rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">VPC Flow</h5>
        <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
        <button type="button" class="btn btn-dark">Adiquirir</button>
      </div>
    </div>
  </div>
</div> 
</div>  
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.imgur.com/WuO1qqs.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">AWS Config</h5>
        <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
        <button type="button" class="btn btn-dark">Adiquirir</button>
      </div>
    </div>
  </div>
</div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/TDlEO4N.png" class="card-img" alt="acrtivy" style=" padding: 1rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Config History</h5>
          <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div> 
</div>
</div>
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.imgur.com/1bcLqay.png" class="card-img" alt="acrtivy" style=" padding: 1rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Trusty Advisor</h5>
        <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
        <button type="button" class="btn btn-dark">Adiquirir</button>
      </div>
    </div>
  </div>
</div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/maaTqOQ.png" class="card-img" alt="acrtivy" style=" padding: 1rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">AWS KMS</h5>
          <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/6xWAT5b.png" class="card-img" alt="acrtivy" style=" padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">AWS Inspector</h5>
            <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
  </div>                                          
</div>
</div>
<hr size = 7> 

<!-- Proxy -->
<div class="w-auto p-3" style="display: flex,">
<div class="titulo" style="padding: 2rem; text-align: center;">            
<h4>Para Proxy</h4>
<p>                           
    O pacote para Proxy oferece algumas soluções que monitoram os acessos e segurança.
</p>
</div>                    
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
<div class="row no-gutters">
  <div class="col-md-4">
    <img src="https://i.imgur.com/qpiwElE.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">Monitoramento de segurança</h5>
      <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
      <button type="button" class="btn btn-dark">Adiquirir</button>
    </div>
  </div>
</div>
</div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.imgur.com/EFjukjW.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Compliance</h5>
        <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
        <button type="button" class="btn btn-dark">Adiquirir</button>
      </div>
    </div>
  </div>
</div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/TSATaO0.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Analyticss</h5>
          <p class="card-text">Todas as conformidades necessárias com essa ferramenta!</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div> 
</div>                 
</div>
</div>
<hr size = 7> 


<!-- FTP -->
<div class="w-auto p-3" style="display: flex,">
  <div class="titulo" style="padding: 2rem; text-align: center;">            
  <h4>Para FTP</h4>
      <p>                           
          O pacote para FTP oferece algumas soluções que monitoram os acessos e segurança.
      </p>
  </div>                    
  <div class="row" style="text-align: center;" class="container-fluid">
  <div class="col">
  <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://i.imgur.com/qpiwElE.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Monitoramento de segurança</h5>
            <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
            <button type="button" class="btn btn-dark">Adiquirir</button>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="col">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.imgur.com/EFjukjW.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Controle de Acesso</h5>
              <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
              <button type="button" class="btn btn-dark">Adiquirir</button>
            </div>
          </div>
        </div>
      </div> 
    </div>
  <div class="col">
      <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://i.imgur.com/TSATaO0.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Compliance</h5>
                <p class="card-text">Todas as conformidades necessárias com essa ferramenta!</p>
                <button type="button" class="btn btn-dark">Adiquirir</button>
              </div>
            </div>
          </div>
        </div> 
      </div>                 
    </div>
  </div>
  <hr size = 7> 


<!-- Docker -->
<div class="w-auto p-3" style="display: flex,">
<div class="titulo" style="padding: 2rem; text-align: center;">            
<h4>Para Docker</h4>
<p>                           
    O pacote para Docker oferece algumas soluções que monitoram os acessos e segurança.
</p>
</div>                    
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
<div class="row no-gutters">
  <div class="col-md-4">
    <img src="https://i.imgur.com/qpiwElE.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">Monitoramento de segurança</h5>
      <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
      <button type="button" class="btn btn-dark">Adiquirir</button>
    </div>
  </div>
</div>
</div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.imgur.com/EFjukjW.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Monitoramento de Containers</h5>
        <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
        <button type="button" class="btn btn-dark">Adiquirir</button>
      </div>
    </div>
  </div>
</div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/TSATaO0.png" class="card-img" alt="acrtivy" style="padding: 1rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Monitoramento de Hardware</h5>
          <p class="card-text">Todas as conformidades necessárias com essa ferramenta!</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div> 
</div>

<div class="row" style="text-align: center;" class="container-fluid">
  <div class="col">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
        <img src="https://i.imgur.com/TSATaO0.png" class="card-img" alt="acrtivy" style="padding: 3rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Compliance</h5>
          <p class="card-text">Todas as conformidades necessárias !</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/TSATaO0.png" class="card-img" alt="acrtivy" style="padding: 3rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Controle de Autenticação</h5>
          <p class="card-text">Todas as conformidades necessárias com essa ferramenta!</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div> 
</div>                  
</div>
</div>
<hr size = 7> 


<!-- Docker -->
<div class="w-auto p-3" style="display: flex,">
<div class="titulo" style="padding: 2rem; text-align: center;">            
<h4>Para Linux</h4>
<p>                           
    O pacote para Linux oferece algumas soluções que monitoram os acessos e segurança.
</p>
</div>                    
<div class="row" style="text-align: center;" class="container-fluid">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
<div class="row no-gutters">
  <div class="col-md-4">
    <img src="https://i.imgur.com/qpiwElE.png" class="card-img" alt="acrtivy" style="padding: 3rem;">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title">Controle de Acesso</h5>
      <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
      <button type="button" class="btn btn-dark">Adiquirir</button>
    </div>
  </div>
</div>
</div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.imgur.com/EFjukjW.png" class="card-img" alt="acrtivy" style="padding: 3rem;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Compliance</h5>
        <p class="card-text">Todas as conformidades necessarias com essa ferramenta!</p>
        <button type="button" class="btn btn-dark">Adiquirir</button>
      </div>
    </div>
  </div>
</div> 
</div>
<div class="row" style="text-align: center;" class="container-fluid">
  <div class="col">
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
        <img src="https://i.imgur.com/TSATaO0.png" class="card-img" alt="acrtivy" style="padding: 3rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Sys Log</h5>
          <p class="card-text">Todas as conformidades necessárias com essa ferramenta!</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.imgur.com/TSATaO0.png" class="card-img" alt="acrtivy" style="padding: 3rem;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Analyticss</h5>
          <p class="card-text">Todas as conformidades necessárias com essa ferramenta!</p>
          <button type="button" class="btn btn-dark">Adiquirir</button>
        </div>
      </div>
    </div>
  </div> 
</div>                 
</div>
</div>
<hr size = 7> 

<!-- Custom -->
<div class="w-auto p-3" style="display: flex,">
  <div class="titulo" style="padding: 2rem; text-align: center;">            
  <h4>Pacote Custom</h4>
      <p>                           
          O Pacote Custom pode ser costumizado de acordo
      </p>
  </div>    
                 
 

</div>
</div>
</div>
</div>
</body>
</html>