<!-- Cards for overview monitoring section -->
<div layout="row" layout-align="start stretch" class="wz-timelions wz-margin-top-0" ng-show="showConfig">

    <!-- Overview visualization card -->
    <md-card class="wz-md-card"
        ng-class="{'no-opacity-overview-monitoring': resultState !== 'ready' || !rendered,'flex-30': resultState === 'ready' && rendered}">
        <md-card-content class="wazuh-column">
            <span class="wz-headline-title">Top 5 nós</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <kbn-vis ng-show="rendered" vis-id="'Wazuh-App-Cluster-monitoring-Overview-Node-Pie'"
                id="Wazuh-App-Cluster-monitoring-Overview-Node-Pie"></kbn-vis>
            <span class="wz-padding-top-10 wz-text-center" ng-show="!rendered">Não há resultados para o intervalo de tempo selecionado. Tente outro.</span>
        </md-card-content>
    </md-card>

    <!-- Cluster configuration card -->
    <md-card flex class="wz-md-card">
        <md-card-content>
            <i class="fa fa-fw fa-server" aria-hidden="true"></i> <span class="wz-headline-title">Configuração
                de cluster</span>
            <md-divider class="wz-margin-top-10"></md-divider>
            <!-- Configuration options -->
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Desabilitado</span>
                <span class="color-grey">{{configuration.disabled}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Hidden</span>
                <span class="color-grey">{{configuration.hidden}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Nome</span>
                <span class="color-grey">{{configuration.name}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Nome do nó</span>
                <span class="color-grey">{{configuration.node_name}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Tipo de nó</span>
                <span class="color-grey">{{configuration.node_type}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Endereço de vínculo</span>
                <span class="color-grey">{{configuration.bind_addr}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">IP</span>
                <span class="color-grey">{{configuration.nodes[0] || '-'}}</span>
            </div>
            <div layout="row" class="wz-padding-top-10">
                <span flex="25">Porta</span>
                <span class="color-grey">{{configuration.port}}</span>
            </div>
        </md-card-content>
    </md-card>
</div>
<!-- End cards for overview monitoring section -->