<div layout="column" layout-align="start stretch" ng-if="ctrl.tab === 'about' && !ctrl.load">

    <!-- App information section -->
    <div layout="row" layout-align="start center" ng-if="!ctrl.load" class="wz-margin-top-10">
        <md-card flex class="wz-metric-color wz-md-card">
            <md-card-content layout="row" class="wz-padding-metric">
                <div class="wz-text-truncatable" flex>Versão app: <span
                        class="wz-text-bold">{{ctrl.appInfo["app-version"]}}</span></div>
                <div class="wz-text-truncatable" flex>Versão app: <span
                        class="wz-text-bold">{{ctrl.appInfo["revision"]}}</span></div>
                <div class="wz-text-truncatable" flex>Data da Instalação: <span
                        class="wz-text-bold">{{ctrl.appInfo["installationDate"] | date : "medium"}}</span></div>
            </md-card-content>
        </md-card>
    </div>
    <!-- End app information section -->

    <div layout="row">
        <md-card flex class="wz-md-card">
            <md-card-content>
                <react-component name="EuiIcon" props="{type:'iInCircle'}" /> <span class="wz-headline-title">Bem vindo
                    ao
                    Logs360 app para o Kibana {{ctrl.kibanaVersion}}</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" layout-padding class="wz-line-height">
                    O plug-in Logs360 Kibana fornece recursos de gerenciamento e monitoramento, dando aos usuários o controle
                    pela infraestrutura do Logs360. Usando este plug-in, você pode monitorar o status de seus agentes e
                    configuração, consulte e visualize seus dados de alerta e monitore as regras e
                    configuração.
                </div>
            </md-card-content>
        </md-card>
        <md-card flex class="wz-md-card">
            <md-card-content>
                <react-component name="EuiIcon" props="{type:'questionInCircle'}" /> <span
                    class="wz-headline-title">Comunidade</span>
                <md-divider class="wz-margin-top-10"></md-divider>
                <div layout="row" layout-padding class="wz-line-height">
                    Aproveite a sua experiência com o Logs360 e deixe seus comentários sobre o aplicativo.
                </div>
                <div layout="row" class="layout-align-center-center" flex>
                    <react-component name="EuiButtonIcon"
                        props="{iconType:'logoSlack', iconSize:'xxl', href: 'https://wazuh.com/community/join-us-on-slack/', target: '_blank'}" />
                    <react-component class="wz-margin-left-16" name="EuiButtonIcon"
                        props="{iconType:'logoGmail', iconSize:'xxl', href: 'https://groups.google.com/forum/#!forum/wazuh', target: '_blank'}" />
                    <react-component class="wz-margin-left-16" name="EuiButtonIcon"
                        props="{iconType:'logoGithub', iconSize:'xxl', href: 'https://github.com/wazuh/wazuh-kibana-app', target: '_blank'}" />

                </div>

            </md-card-content>
        </md-card>
    </div>

</div>